div {
  background-color: rgb(37, 159, 213);
  border-radius:25px;
  text-align: center;
}
.left {
  float: left;
  height: 40px;
  width: 80px;
  padding: 10px;
}
.right {
  float: right;
  height: 40px;
  width: 80px;
  padding: 10px;
}
.center {
  float: none;
  height: 40px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}
