@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/header-bg.png");
    background-size: cover;
    min-height: 640px;
}
nav {
  color: white;
}
nav ul{
  display: inline-block;
  margin: 30px;
}
nav ul li{
  display: inline-block;
  float: left;
  padding: 20px;
  color: white;
  font-weight: 800;
  font-size: 14px;
}
nav ul li:hover {
  display: inline-block;
  float: left;
  padding: 20px;
  color: rgb(224, 114, 0);
  font-weight: 800;
  font-size: 14px;
}


.left {
  padding-right: 680px;
}
.left:hover {
  padding-right: 680px;
}
header .head{
  position: relative;
  left: -10%;
}
header h1  {
  width: 550px;
  color:white;
  font-size: 24px;
  margin-top: 10%;
  text-align: left;
}
header h1 span {
  font-weight: 800;
}
.head {
text-align: center;}
.head h1,.head h2 {
  display: inline-block;
}
.head h2 {
  font-size: 54px;
  margin-left: 40px;
}
.fa-play-circle {
  color: white;
}
.fa-play-circle:hover {
  color: orange;
}
header article {
  display: inline-block;
  width: 250px;
  color: white;
  margin-right: 10px;
  vertical-align: top;
  font-size: 13px;
  padding:5px;
  padding-right: 30px;
  text-align: left;
}
header article:hover {
  display: inline-block;
  width: 250px;
  color: white;
  margin-right: 10px;
  vertical-align: top;
  font-size: 13px;
  padding:5px;
  padding-right: 30px;
  text-align: left;
  padding-bottom: 47px;
  border-bottom: 5px solid orange;
}
header article:nth-child(3):hover {
  display: inline-block;
  width: 250px;
  color: white;
  margin-right: 10px;
  vertical-align: top;
  font-size: 13px;
  padding:5px;
  padding-right: 30px;
  text-align: left;
  padding-bottom: 63px;
  border-bottom: 5px solid orange;
}
.headart {
  width: 100%;
  margin: 150px auto 0px;
  text-align: center;
}
.art {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 40px;
}
.aree{
  margin: 50px auto;
  text-align: center;
}
.first article {
  display: inline-block;
  width: 300px;
  margin: 30px;
  vertical-align: top;
}

.lef {
  text-align: right;
}
.lef p:first-of-type {
  font-weight: bold;
  font-size: 16px;
  margin:30px;
  margin-bottom: 50px;
  margin-right: 0;
}
.justify p:first-of-type {
  font-size: 12px;
  text-align: justify;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
.justify p:last-of-type {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-top: 20px;
}
.imgg {
  height: 380px;
  width: 190px;
}
.second {
  background: #3C3E4A;
  min-height: 600px;
}
.sixart {
  text-align: center;
}
.sixart article {
  width: 40%;
  display: inline-block;
  text-align: left;
}
.sixart article p{
  display: inline-block;
  text-align: left;
  color: white;
  font-weight: bold;
  padding: 30px;
  text-transform: capitalize;
}
.sixart article p span{
  padding-left: 30px;
  font-weight: 400;
}
.second h1 {
  width: 450px;
  color: white;
  padding: 80px 0px 100px 30px;
}
.sixart article p.ico {
  background: rgb(255, 132, 43);
  color: white;
  font-size: 20px;
  border-radius: 50%;
  padding: 15px 20px;
  margin: 5px;
}
.hh {
  text-align: center;
  padding: 30px;
}
.hh h1, .hh h2 {
  width: 44%;
  display: inline-block;
  font-size: 16px;
  text-align: left;
}
.hh h2 {
  font-size: 12px;
  font-weight: normal;
}
.thart {
  margin: 30px 150px;
}
.people {
  text-align: left;
  text-transform: capitalize;
}
.people article {
  display: inline-block;
  width: 200px;
  height: 250px;
  margin: 20px;
  box-shadow: 2px 2px 10px gray;
}
img {
  width: 100%;
}
h3{
  font-size: 15px;
  padding: 2px 10px;
}
h4 {
  text-transform: uppercase;
  font-size: 13px;
  color:rgb(176, 119, 23);
  padding: 2px 10px;
}
.fourth{
    background: #3C3E4A;
    min-height: 400px;
    border: 1px solid transparent;
    color: white;
}
.fourth .sp-events{
  text-align: center;
  width: 50%;
  margin: 80px auto;
  border: 1px solid white;
}
.sp-events h1 {
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  margin: 50px 0 50px;
}
.sp-events p {
  width: 500px;
margin: 0 auto;
}
.but {
  margin: 20px;
}
.but input {
  width: 160px;
  background: none;
  border:none;
  border-bottom: 2px solid orange;
  margin-right: 30px;
}
.but button {
  background: rgb(237, 126, 12);
  color: white;
  padding: 5px 30px;
  border: transparent;
  border-radius: 20px;
}
.but button:hover {
  background: rgb(41, 41, 41);
  color: white;
  padding: 5px 30px;
  border: transparent;
  border-radius: 20px;
}
footer {
  text-align: center;
  background: rgb(40, 38, 56);
  color: white;
  height: 50px;
  line-height: 20px;
  text-transform: uppercase;

}
footer p {
  display: inline-block;
  width: 1000px;
  margin: 5px;
  vertical-align: middle;
}
footer p:first-of-type {
  text-align: left;
  margin: 0;
  width: 300px;
  margin-right: 700px;
}
footer p:last-child {
  text-align: right;
  width: 300px;
}
