@media only screen and (min-width: 880px) and (max-width: 1060px) {
    htmL > body > #wrapper{
        width: 100%;
    }
}
@media only screen and (min-width: 710px) and (max-width: 879px) {
htmL > body > #wrapper{ width: 100%;}
body > #wrapper > header > h1,
body > #wrapper > header > nav {
    text-align:center;
}
body > #wrapper > header > h1 > a,
body > #wrapper > header > nav > ul {
    display:inline-block;
}
}
@media only screen and (min-width: 480px) and (max-width: 709px) {
    htmL > body > #wrapper{ width: 100%;}
    body > #wrapper > header > h1 > a {
        text-align:center;
        display:block;}
	body > #wrapper > header > h1 > a > img {display:block;
	margin:0 auto}
	body > #wrapper > header > h1 > a > span {display:block;}
	body > #wrapper > header > nav > ul { display:block;}
	body > #wrapper > header > nav > ul > li { display:block;
	width:90%;
	margin: 0 auto;}
	body > #wrapper > section {
		flex: 1 100%;
	}
	body > #wrapper > aside {
		flex:1 100%;
	}
	body > #wrapper > aside > div {
		flex:1 40%;
	}
}
@media only screen and (max-width: 480px) {
	  htmL > body > #wrapper{ width: 100%;}
    body > #wrapper > header > h1 > a {
        text-align:center;
        display:block;}
	body > #wrapper > header > h1 > a > img {display:block;
	margin:0 auto}
	body > #wrapper > header > h1 > a > span {display:block;}
	body > #wrapper > header > nav > ul { display:block;}
	body > #wrapper > header > nav > ul > li { display:block;
	width:90%;
	margin: 0 auto;}
	body > #wrapper > section {
		flex: 1 100%;
	}
	body > #wrapper > aside{
		flex:1 100%;
	}
}