@media all and (max-width: 1000px) {
  header {order:1;}
  .aside-1 {order: 2;}
  .main-article {order: 3;}
  .aside-2 {order: 4;}
  .footer  {order: 5;}
body {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}
body>* {
  order:0;
  padding: 10px;
    flex: 1 100%;
}
.header {
  background: tomato;
}
.footer {
  background: lightgreen;
}
.main-article {
  text-align: left;
  background: deepskyblue;
}
.aside-1 {
  background: gold;
}
.aside-2 {
  background: hotpink;
}
}

/* second window */
@media all and (max-width: 800px) {
  header {order:1;}
  .aside-1 {order: 2;}
  .main-article {order: 3;}
  .aside-2 {order: 4;}
  .footer  {order: 5;}
  body {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 30px;
    } 
      body>* {
      order:0;
      padding: 10px;
        flex: 1 100%;
    }
    .header {
      background: red;
    }
    .footer {
      background: green;
    }
    .main-article {
      text-align: left;
      background: blue;
    }
    .aside-1 {
      background: orange;
    }
    .aside-2 {
      background: pink;
    }
    
    }




/*@media all and (min-width: 800px) {
  .main-article {flex: 3 0;}
  .aside-1 {order: 2;}
  .main-article {order: 3;}
  .aside-2 {order: 4;}
  .footer  {order: 1;}
  body {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    padding: 30px;
  }
  body>* {
    padding: 10px;
      flex: 1 100%;
  }
  .header {
    background: tomato;
  }
  .footer {
    background: lightgreen;
  }
  .main-article {
    text-align: left;
    background: deepskyblue;
  }
  .aside-1 {
    background: gold;
  }
  .aside-2 {
    background: hotpink;
  }

}

@media all and (min-width: 600px) {
  .aside { flex: 1 0; }
  body {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    padding: 30px;
  }
  body>* {
    padding: 10px;
      flex: 1 100%;
  }
  .header {
    background: tomato;
  }
  .footer {
    background: lightgreen;
  }
  .main-article {
    text-align: left;
    background: deepskyblue;
  }
  .aside-1 {
    background: gold;
  }
  .aside-2 {
    background: hotpink;
  }
  .aside { flex: 1 0; }
}*/
