body {
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
}

fieldset {  border: 2px solid rgb(75, 91, 176);}

main {
  width: 70%;
  margin: 50px auto;
}
nav ul {
  text-align: center;
}
nav ul .navi{
  display: inline-block;
  margin-right: 10px;
}
.navi li {display: inline-block;}

nav ul li a {
  font-size: 20px;
  line-height: 18px;
  text-decoration: none;
  color: rgb(20, 87, 201);
  font-weight: bold;
  padding: 10px;
}
nav ul .navi img {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
}
.navi:hover {
  background: rgb(177, 189, 241);
  border-radius: 5px;
}
section {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
}
section .left input{
display: block;
}
fieldset {
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  border-radius: 15px;
  height: 330px;
  padding-bottom: 0;
}
fieldset legend {
  color:rgb(52, 138, 252);
  font-weight: bold;
  margin-bottom: 30px;
}
#tel {
  background: url("images/user1.png") no-repeat 10px;
}
fieldset.left input {
  width: 90%;
  height: 40px;
  box-sizing: border-box;
  font-size: 1.1em;
  border-radius: 20px;
  border:1px solid rgb(52, 138, 252);
  margin: 10px 0 10px 10px;}

  #user {
    background: url("images/user1.png") no-repeat 10px;
    background-color:  rgba(255, 255, 255, 0.39);
  }
  #email {
    background: url("images/email.png") no-repeat 10px;
    background-color:  rgba(255, 255, 255, 0.39);
  }
  #tel {
    background: url("images/phone.png") no-repeat 10px;
    background-color:  rgba(255, 255, 255, 0.39);
  }
  fieldset.right legend {
    font-size: 0.8em;
  }
  fieldset.right  {
    color: rgb(52, 138, 252);
    font-size: 1.3em;
  }
    fieldset.right h6 {
      margin: 10px 0;
      font-size: 18px;
      text-shadow: 1px 1px  blue;
    }
        fieldset.right select {
          width: 90%;
          height: 40px;
          box-sizing: border-box;
          font-size: 0.8em;
          border-radius: 20px;
          background:  rgba(96, 169, 255, 0.52);
          border:1px solid rgb(52, 138, 252);
          margin: 10px 0 10px 10px;
          padding: 10px 20px;
        }
fieldset.right input[type="date"] {
  width: 70%;
  height: 40px;
  box-sizing: border-box;
  font-size: 0.8em;
  border-radius: 20px;
  background:  rgba(96, 169, 255, 0.52);
  border:1px solid rgb(52, 138, 252);
  margin: 10px 0 10px 10px;
  padding: 10px 20px;
}
main {
  overflow: hidden;
}
form .btn {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  border-radius: 40px;
  border:none;
  font-size: 18px;
}
#clear {
  border: 2px solid green;
  color:green;
  background: transparent;
}
#send {
  border: 2px solid red;
  color:red;
  background: transparent;
}
#clear:hover {
  border: 2px solid green;
  color:white;
  background: green;
}
#send:hover {
  border: 2px solid red;
  color:white;
  background: red;
}
