main {
  width: 630px;
  margin: 0 auto;
}

article {
margin: 5px;
  display: inline-block;
  width: 300px;
  border: 1px solid gray;
  box-shadow: 3px 3px 3px gray;
}
p {
  text-align: justify;
}
img {
  float: left;
  margin:5px;
}
h1 {
  font-size: 15px;
  margin-left: 5px;
}
h2 {
  font-size: 10px;
  color: gray;
    margin-left: 5px;
}
