@media only screen and (min-width: 756px) and (max-width: 1000px) { 

  html body,
  html body div#wrapper {
   min-width: 100%;
   width: 100%;
  }
  html body div#wrapper header div#logoarea,
  html body div#wrapper header div#header-area-right,
  html body div#wrapper header div#header-area-right nav#menu {
    float:none;
  }
  html body div#wrapper header {
    height:auto;
  }
  html body div#wrapper header div#header-area-right {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:100%;
    padding: 0;
  }
  html body div#wrapper header div#header-area-right nav#menu {
    justify-content: center;
  }
  html body div#wrapper header div#header-area-right nav#menu ul#nav-menu,
  html body div#wrapper header div#header-area-right div#search-form {
    flex:1 100%;
    justify-content: center;
  }
  html body div#wrapper header div#header-area-right div#search-form {
    max-width:260px;
    height:20px;
    margin:0 30%;
  }
  html body div#wrapper section.contentblock {
    width:100%;
    min-width:100%;
    display: flex;
    flex-wrap:wrap;
  }
  html body div#wrapper section.contentblock div#publicphotos div#p-albums-items div.p-photos-block {
    flex: 1 30%;
    max-width:280px;
  }
  html body div#wrapper section.contentblock div#publicphotos div#p-albums-items div.p-photos-block a.aimgi {
    width:100%;
    margin:0;
    padding:0;
  }

  html body div#wrapper section.contentblock div#publicphotos div#p-albums-items div.p-photos-block:nth-child(7) {
    margin-left: 14%;
  }
  html body div#wrapper section.contentblock div#publicphotos div#p-albums-items div.p-photos-block:nth-child(8)
  { 
    margin-right:10%;
  }
  html body div#wrapper section.contentblock div#paging { margin:0 auto;}
  html body div#wrapper footer {
    min-width: 100%;
  }

}
@media only screen and  (max-width: 756px) {
    html body,
  html body div#wrapper {
   min-width: 100%;
   width: 100%;
  }
  html body div#wrapper header div#logoarea,
  html body div#wrapper header div#header-area-right,
  html body div#wrapper header div#header-area-right nav#menu {
    float:none;
    width: 100%;
    height: auto;
  }
  html body div#wrapper header {
    height:auto;
  }
  html body div#wrapper header div#header-area-right {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:100%;
    padding: 0;
  }
  html body div#wrapper header div#header-area-right nav#menu ul#nav-menu {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  html body div#wrapper header div#header-area-right nav#menu ul#nav-menu li {
    flex: 1 100%;
  }
  
  html body div#wrapper header div#header-area-right div#search-form {
    max-width:260px;
    height:20px;
    margin:10px 30%;
  }

  html body div#wrapper header div#header-area-right nav#menu ul#nav-menu li a {
    width:90%;
  }
html body div#wrapper section.contentblock {
    width:100%;
    min-width:100%;
    display: flex;
    flex-wrap:wrap;
  }
  html body div#wrapper section.contentblock div#publicphotos div#p-albums-items {
    justify-content: center;
  }
  html body div#wrapper section.contentblock div#paging {
    margin:0 auto;
  }
    html body div#wrapper footer {
    min-width: 100%;
  }
  
}
