@import "https://fonts.googleapis.com/css?family=Lato:300,400,900";
body {
  background: linear-gradient(45deg,
  rgba(253,149,192,1) 0%,
  rgba(195,95,204,1) 38%,
  rgba(175,104,241,1) 66%,
  rgba(175,104,241,1) 84%,
  rgba(168,125,255,1) 100%);
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
main {
  background-color: #052146;
  position: absolute;
  height: 530px;
  width: 900px;
  margin-top: -18%;
  margin-left: -33%;
  top: 50%;
  left: 50%;
  border: 1px solid;
  border-radius: 30px}
  div.plan-types {
    position: absolute;
    padding:0px 10%;
    color: #ffffff;
    width: 80%;
  }

  ul li{
      margin:30px 2px;
    display: inline-block;
  }
  #basic-plan {
      background: url("img/plan-background-basic.jpg") no-repeat center center;
      background-position: top;
      background-size: contain;
      background-color: #fff;
      width:210px;
      height:280px;
      border: 1px solid rgba(224, 18, 18, 0);
      border-radius: 20px;}
    #pro-plan {
      background: url("img/plan-background-pro.jpg") no-repeat center center;
      background-position: top left;
      background-size: contain;
      background-color: #fff;
      width:220px;
      height:280px;
      border: 1px solid;
      border-radius: 20px;}
    #med-plan {
      background: url("img/plan-background-med.jpg") no-repeat center center;
      background-position: top;
      background-size: contain;
      background-color: #fff;
      width:220px;
      height:280px;
      border: 1px solid;
      border-radius: 20px;}
div.information {
        margin-top: 42%;
        margin-left:10%;}
div.next-step{
  margin: 0% 45%;}

  #basic-plan h1
   {
  font-size:45px;
}
  #pro-plan h1 {
  font-size:45px;
}
#med-plan h1 {
  font-size:45px;
}
 #basic-plan h2
   {
     padding-top:20px;
     color:#000;
  font-size:45px;
}
  #pro-plan h2 {
     padding-top:20px;
     color:#000;
  font-size:45px;
}
#med-plan h2 {
   padding-top:20px;
     color:#000;
  font-size:45px;
}
  #basic-plan p
   {
   font-size:15px;
  font-weight:bold;
  color:#000;
}
  #pro-plan p {
   font-size:15px;
  font-weight:bold;
  color:#000;
}
#med-plan p {
  font-size:15px;
  font-weight:bold;
  color:#000;
}
.plan-title {
  text-transform: capitalize;
  color: #fff;
  margin-bottom:25px;
  font-family: "Arial";
  font-size:20px;
}
.plan-descirption {
   color: #fff;
  margin-bottom:25px;
  font-family: "Arial";
  font-size:15px;
}
button.continue{
  position:absolute;
  top:90%;
  left:46%;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background: linear-gradient(45deg, #9463ff 2%,#ea28fc 100%);
  border:transparent;
  color: #fff;
}
button.continue:hover{
  position:absolute;
  top:90%;
  left:46%;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background: linear-gradient(45deg, #f4de5f 2%,#fca728 100%);
  border:transparent;
  color: #fff;
}

#med-plan>.select-plan {
  position:absolute;
  top:83%;
  left:74%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f25ef2 36%,#ab26f2 84%);
  border:transparent;
  color: #fff;
}

#basic-plan>.select-plan {
  position:absolute;
  top:83%;
  left:24%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f25ef2 36%,#ab26f2 84%);
  border:transparent;
  color: #fff;
}

#pro-plan>.chosen-plan {
  position:absolute;
  top:83%;
  left:49%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f25ef2 36%,#ab26f2 84%);
  border:transparent;
  color: #fff;
}
