@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: Tahoma,Helvetica, sans-serif;
  background: rgb(237, 237, 237);
}
main {
  max-width: 800px;
  min-width: 370px;
  margin: 20px auto;
  background: white;
}
header h1 {
  font-size: 24px;
  text-align: center;
}
header p {
  font-size: 14px;
  text-align: center;
}

section {
  max-width: 700px;
  margin: 0 auto;
}
section .new-account {
  display: inline-block;
  width: 380px;
}
section .new-account label, input, button {
  display: block;
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;
}
input[type='checkbox']{
  height: 20px;
  float: left;
  padding: 0;
  margin:0;
  width: 20px;
  margin-right: 20px;
}
section .new-account button {
  margin-top: 20px;
}
section .login {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  float: right;
  margin-right: 100px;
}
section .login label, input, button{
  display: block;
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;

}

section .login button {
  margin-top: 20px;
}
section button {
  background: rgb(186, 186, 186);
  color: black;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
    width: 150px;
    box-shadow: 1px 1px gray;
}
section button:hover {
  background: rgb(75, 173, 35);
  color: black;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 1px 1px gray;
}
label {
  font-weight: bold;
}
section input {
  border-radius: 5px;
  border:1px solid rgb(200, 201, 201);
  padding-left: 20px;
}
.fa-check {
  background: rgb(27, 210, 35);
  color: white;
  font-size: 20px;
}
.fa-times {
  background: rgb(210, 24, 24);
  color: white;
  font-size: 24px;
}
.fa{
  position: relative;
  top:28px;
  left: 253px;
}
