div{
    display: inline-block;
    margin: 50px;
}

.card {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: all 900ms;
    top: 100px;
}
.card:hover {
    z-index: 20;
}

.front-side {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    background: #234465;
    z-index: 5;
    -webkit-transition: 500ms ease-in;
}

.back-side {
    width: 200px;
    height: 200px;
    background: #ffa000;
    position: relative;
    overflow: hidden;
    color: white;
}

#slide-up > div > div.front-side:hover {
    height:50px;
    position:absolute;
    top:-50px;}

#slide-down > div > div.front-side:hover {
    position:absolute;
    top:200px;
    height:0px
}
#slide-left > div > div.front-side:hover {
    width:50px;
    position:absolute;
    left:-50px;
}
#slide-right > div > div.front-side:hover {
    width:0px;
    position:absolute;
    left:200px;
}