body {
background: gray;
font-family:"Tahoma","Arial", sans-serif;
font-size: 15px
color:#191923;
}

nav {
  width: 990px;
  margin: 40px auto 20px auto;
}
ul {
  background-color: white;
}
ul li {
  padding: 30px;
  background-color: white;
  display: inline-block;
}
ul li:hover {
  padding: 30px;
  color: #BF1363;
  background-color: white;
  display: inline-block;
}
section{
  position: relative;
  left: 5px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
article{
  float:left;
  width: 27%;
  height: 320px;
  margin-right: 10px;
  background-color: white;
  align-self: center;
}
article>img {
  width: 240px;
  height: 150px;
}
article>p, article>h1 {
  padding: 10px;
}
article:hover {
  float:left;
  width: 27%;
  height: 320px;
  margin-right: 10px;
  background-color: white;
  opacity: 0.5;
  align-self: center;

}
