body {
    margin: 0;
    padding: 0;
    background: #0E1013;
    transition: all 800ms;
    animation-iteration-count: infinite;

}

.container {
    width: 200px;
    height: 100px;
    padding-top: 200px;
    margin: 0 auto;
}

.ball {
    width: 20px;
    height: 20px;
    margin: 20px auto;
    border-radius: 50px;
}

/*TODO Animations*/
html body div.container .ball:nth-child(1) {
    background: #ff005d;
    animation-name: first;
    animation-duration: 1.5s;
  animation-timing-function:ease-out;
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite;

}
html body div.container .ball:nth-child(2) {
    background: #35ff99;
        animation-name: second;
    animation-duration: 1.5s;
  animation-timing-function:ease-out;
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite;
}
html body div.container .ball:nth-child(3) {
    background: #008597;
        animation-name: third;
    animation-duration: 1.5s;
  animation-timing-function:ease-out;
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite;
}
html body div.container .ball:nth-child(4) {
   background: #ffcc00;
        animation-name: fourth;
    animation-duration: 1.5s;
  animation-timing-function:ease;
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite;
}
html body div.container .ball:nth-child(5) {
    background: #2d3443;
        animation-name: fifth;
    animation-duration: 1.5s;
  animation-timing-function:ease-out;
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite;
}
html body div.container .ball:nth-child(6) {
  background: #ff7c35;
        animation-name: six;
    animation-duration: 1.5s;
  animation-timing-function:ease-out;
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite;
}
html body div.container .ball:nth-child(7) {
   background: #4d407c;
        animation-name: seven;
    animation-duration: 1.5s;
  animation-timing-function:ease;
  animation-delay: 0s; 
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes first{
0%{
  transform:translateX(0px);
  border-radius: 100%;}
33% {
    transform:translateX(100px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-100px)}

}
@keyframes second{
0%{
  transform:translateX(0px);
  border-radius: 100%;}
33% {
    transform:translateX(80px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-80px)}

}

@keyframes third{
0%{
  transform:translateX(0px);
  border-radius: 100%;}
33% {
    transform:translateX(60px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-60px)}

}

@keyframes fourth{
0%{
    transform:translateX(0px);}

33% {
    transform:translateX(40px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-40px)}

}

@keyframes fifth{
0%{
  transform:translateX(0px);
  border-radius: 100%;}
33% {
    transform:translateX(60px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-60px)}

}

@keyframes six{
0%{
  transform:translateX(0px);}
33% {
    transform:translateX(80px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-80px)}

}

@keyframes seven{
0%{
  transform:translateX(0px);}
33% {
    transform:translateX(100px)}
66% {
    transform:translateX(0px)}
100% {
    transform:translateX(-100px)}

}






/*TODO @keyframes*/
