@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Anton");


main {
  width: 60%;
  height: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #90a79f;
  margin: 100px auto;
  font-family: "Anton",sans-serif;
}

.img-container {
    float: left;
    background: linear-gradient(to bottom, #6afdc9 0%,#42c9ca 100%);
    border-radius: 20px 0 0 20px;
}
.img-container>img {
  height: 396px;
  width: 300px;
  border-radius: 20px 0 0 20px;
}
form {
      position: relative;
      top:20px;
      left: 30px;
}
span, select, input  {
  display: block;
  margin-bottom: 10px;
}
span {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
select, input {
  position: relative;
  left: 20px;
  padding-left: 10px;
}
input::placeholder{
    color: rgb(62, 210, 197);
}
input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(62, 210, 197);
}
select {
  width: 100px;
  background:  rgb(62, 210, 197);
}
button {
  margin-top: 10px;
  background: white;
  color: rgb(62, 210, 197);
  border: 3px solid rgb(62, 210, 197);
  padding: 10px 20px;
  border-radius: 25px;
}
button:hover {
  margin-top: 10px;
  background: rgb(62, 210, 197);;
  color: white;
  border: 3px solid rgb(62, 210, 197);
  padding: 10px 20px;
  border-radius: 25px;
}
